<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.clinicalresearch.dao.manager.ConfusionControlMapper" >
  <resultMap id="BaseResultMap" type="com.clinicalresearch.dao.entity.ConfusionControl" >
    <id column="controlid" property="controlid" jdbcType="VARCHAR" />
    <result column="indicatorid" property="indicatorid" jdbcType="VARCHAR" />
    <result column="itemname" property="itemname" jdbcType="VARCHAR" />
    <result column="itemvalue" property="itemvalue" jdbcType="VARCHAR" />
    <result column="studyid" property="studyid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    controlid, indicatorid, itemname, itemvalue, studyid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.clinicalresearch.dao.entity.ConfusionControlExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CONFUSIONCONTROL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from CONFUSIONCONTROL
    where controlid = #{controlid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from CONFUSIONCONTROL
    where controlid = #{controlid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.clinicalresearch.dao.entity.ConfusionControlExample" >
    delete from CONFUSIONCONTROL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.clinicalresearch.dao.entity.ConfusionControl" >
    insert into CONFUSIONCONTROL (controlid, indicatorid, itemname, 
      itemvalue, studyid)
    values (#{controlid,jdbcType=VARCHAR}, #{indicatorid,jdbcType=VARCHAR}, #{itemname,jdbcType=VARCHAR}, 
      #{itemvalue,jdbcType=VARCHAR}, #{studyid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.clinicalresearch.dao.entity.ConfusionControl" >
    insert into CONFUSIONCONTROL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="controlid != null" >
        controlid,
      </if>
      <if test="indicatorid != null" >
        indicatorid,
      </if>
      <if test="itemname != null" >
        itemname,
      </if>
      <if test="itemvalue != null" >
        itemvalue,
      </if>
      <if test="studyid != null" >
        studyid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="controlid != null" >
        #{controlid,jdbcType=VARCHAR},
      </if>
      <if test="indicatorid != null" >
        #{indicatorid,jdbcType=VARCHAR},
      </if>
      <if test="itemname != null" >
        #{itemname,jdbcType=VARCHAR},
      </if>
      <if test="itemvalue != null" >
        #{itemvalue,jdbcType=VARCHAR},
      </if>
      <if test="studyid != null" >
        #{studyid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.clinicalresearch.dao.entity.ConfusionControlExample" resultType="java.lang.Integer" >
    select count(*) from CONFUSIONCONTROL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update CONFUSIONCONTROL
    <set >
      <if test="record.controlid != null" >
        controlid = #{record.controlid,jdbcType=VARCHAR},
      </if>
      <if test="record.indicatorid != null" >
        indicatorid = #{record.indicatorid,jdbcType=VARCHAR},
      </if>
      <if test="record.itemname != null" >
        itemname = #{record.itemname,jdbcType=VARCHAR},
      </if>
      <if test="record.itemvalue != null" >
        itemvalue = #{record.itemvalue,jdbcType=VARCHAR},
      </if>
      <if test="record.studyid != null" >
        studyid = #{record.studyid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update CONFUSIONCONTROL
    set controlid = #{record.controlid,jdbcType=VARCHAR},
      indicatorid = #{record.indicatorid,jdbcType=VARCHAR},
      itemname = #{record.itemname,jdbcType=VARCHAR},
      itemvalue = #{record.itemvalue,jdbcType=VARCHAR},
      studyid = #{record.studyid,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.clinicalresearch.dao.entity.ConfusionControl" >
    update CONFUSIONCONTROL
    <set >
      <if test="indicatorid != null" >
        indicatorid = #{indicatorid,jdbcType=VARCHAR},
      </if>
      <if test="itemname != null" >
        itemname = #{itemname,jdbcType=VARCHAR},
      </if>
      <if test="itemvalue != null" >
        itemvalue = #{itemvalue,jdbcType=VARCHAR},
      </if>
      <if test="studyid != null" >
        studyid = #{studyid,jdbcType=VARCHAR},
      </if>
    </set>
    where controlid = #{controlid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.clinicalresearch.dao.entity.ConfusionControl" >
    update CONFUSIONCONTROL
    set indicatorid = #{indicatorid,jdbcType=VARCHAR},
      itemname = #{itemname,jdbcType=VARCHAR},
      itemvalue = #{itemvalue,jdbcType=VARCHAR},
      studyid = #{studyid,jdbcType=VARCHAR}
    where controlid = #{controlid,jdbcType=VARCHAR}
  </update>
</mapper>