<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.clinicalresearch.dao.manager.EmPiMapper" >
  <resultMap id="BaseResultMap" type="com.clinicalresearch.dao.entity.EmPi" >
    <result column="masterid" property="masterid" jdbcType="VARCHAR" />
    <result column="patientid" property="patientid" jdbcType="VARCHAR" />
    <result column="visitid" property="visitid" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="VARCHAR" />
    <result column="principaldiagnosis" property="principaldiagnosis" jdbcType="VARCHAR" />
    <result column="otherdiagnosis" property="otherdiagnosis" jdbcType="VARCHAR" />
    <result column="studyid" property="studyid" jdbcType="VARCHAR" />
    <result column="groupid" property="groupid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    masterid, patientid, visitid, sex, age, principaldiagnosis, otherdiagnosis, studyid, 
    groupid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.clinicalresearch.dao.entity.EmPiExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from EMPI
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.clinicalresearch.dao.entity.EmPiExample" >
    delete from EMPI
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.clinicalresearch.dao.entity.EmPi" >
    insert into EMPI (masterid, patientid, visitid, 
      sex, age, principaldiagnosis, 
      otherdiagnosis, studyid, groupid
      )
    values (#{masterid,jdbcType=VARCHAR}, #{patientid,jdbcType=VARCHAR}, #{visitid,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{age,jdbcType=VARCHAR}, #{principaldiagnosis,jdbcType=VARCHAR}, 
      #{otherdiagnosis,jdbcType=VARCHAR}, #{studyid,jdbcType=VARCHAR}, #{groupid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.clinicalresearch.dao.entity.EmPi" >
    insert into EMPI
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="masterid != null" >
        masterid,
      </if>
      <if test="patientid != null" >
        patientid,
      </if>
      <if test="visitid != null" >
        visitid,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="principaldiagnosis != null" >
        principaldiagnosis,
      </if>
      <if test="otherdiagnosis != null" >
        otherdiagnosis,
      </if>
      <if test="studyid != null" >
        studyid,
      </if>
      <if test="groupid != null" >
        groupid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="masterid != null" >
        #{masterid,jdbcType=VARCHAR},
      </if>
      <if test="patientid != null" >
        #{patientid,jdbcType=VARCHAR},
      </if>
      <if test="visitid != null" >
        #{visitid,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=VARCHAR},
      </if>
      <if test="principaldiagnosis != null" >
        #{principaldiagnosis,jdbcType=VARCHAR},
      </if>
      <if test="otherdiagnosis != null" >
        #{otherdiagnosis,jdbcType=VARCHAR},
      </if>
      <if test="studyid != null" >
        #{studyid,jdbcType=VARCHAR},
      </if>
      <if test="groupid != null" >
        #{groupid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.clinicalresearch.dao.entity.EmPiExample" resultType="java.lang.Integer" >
    select count(*) from EMPI
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update EMPI
    <set >
      <if test="record.masterid != null" >
        masterid = #{record.masterid,jdbcType=VARCHAR},
      </if>
      <if test="record.patientid != null" >
        patientid = #{record.patientid,jdbcType=VARCHAR},
      </if>
      <if test="record.visitid != null" >
        visitid = #{record.visitid,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null" >
        sex = #{record.sex,jdbcType=VARCHAR},
      </if>
      <if test="record.age != null" >
        age = #{record.age,jdbcType=VARCHAR},
      </if>
      <if test="record.principaldiagnosis != null" >
        principaldiagnosis = #{record.principaldiagnosis,jdbcType=VARCHAR},
      </if>
      <if test="record.otherdiagnosis != null" >
        otherdiagnosis = #{record.otherdiagnosis,jdbcType=VARCHAR},
      </if>
      <if test="record.studyid != null" >
        studyid = #{record.studyid,jdbcType=VARCHAR},
      </if>
      <if test="record.groupid != null" >
        groupid = #{record.groupid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update EMPI
    set masterid = #{record.masterid,jdbcType=VARCHAR},
      patientid = #{record.patientid,jdbcType=VARCHAR},
      visitid = #{record.visitid,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=VARCHAR},
      age = #{record.age,jdbcType=VARCHAR},
      principaldiagnosis = #{record.principaldiagnosis,jdbcType=VARCHAR},
      otherdiagnosis = #{record.otherdiagnosis,jdbcType=VARCHAR},
      studyid = #{record.studyid,jdbcType=VARCHAR},
      groupid = #{record.groupid,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>