<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.clinicalresearch.dao.manager.ExportPlanMapper" >
  <resultMap id="BaseResultMap" type="com.clinicalresearch.dao.entity.ExportPlan" >
    <id column="exp_id" property="expId" jdbcType="INTEGER" />
    <result column="exp_name" property="expName" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="exp_type" property="expType" jdbcType="VARCHAR" />
    <result column="exp_create_time" property="expCreateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    exp_id, exp_name, user_id, exp_type, exp_create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.clinicalresearch.dao.entity.ExportPlanExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from export_plan
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from export_plan
    where exp_id = #{expId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from export_plan
    where exp_id = #{expId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.clinicalresearch.dao.entity.ExportPlanExample" >
    delete from export_plan
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.clinicalresearch.dao.entity.ExportPlan" >
    <selectKey resultType="java.lang.Integer" keyProperty="expId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into export_plan (exp_name, user_id, exp_type, 
      exp_create_time)
    values (#{expName,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{expType,jdbcType=VARCHAR}, 
      #{expCreateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.clinicalresearch.dao.entity.ExportPlan" >
    <selectKey resultType="java.lang.Integer" keyProperty="expId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into export_plan
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="expName != null" >
        exp_name,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="expType != null" >
        exp_type,
      </if>
      <if test="expCreateTime != null" >
        exp_create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="expName != null" >
        #{expName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="expType != null" >
        #{expType,jdbcType=VARCHAR},
      </if>
      <if test="expCreateTime != null" >
        #{expCreateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.clinicalresearch.dao.entity.ExportPlanExample" resultType="java.lang.Integer" >
    select count(*) from export_plan
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update export_plan
    <set >
      <if test="record.expId != null" >
        exp_id = #{record.expId,jdbcType=INTEGER},
      </if>
      <if test="record.expName != null" >
        exp_name = #{record.expName,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.expType != null" >
        exp_type = #{record.expType,jdbcType=VARCHAR},
      </if>
      <if test="record.expCreateTime != null" >
        exp_create_time = #{record.expCreateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update export_plan
    set exp_id = #{record.expId,jdbcType=INTEGER},
      exp_name = #{record.expName,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      exp_type = #{record.expType,jdbcType=VARCHAR},
      exp_create_time = #{record.expCreateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.clinicalresearch.dao.entity.ExportPlan" >
    update export_plan
    <set >
      <if test="expName != null" >
        exp_name = #{expName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="expType != null" >
        exp_type = #{expType,jdbcType=VARCHAR},
      </if>
      <if test="expCreateTime != null" >
        exp_create_time = #{expCreateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where exp_id = #{expId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.clinicalresearch.dao.entity.ExportPlan" >
    update export_plan
    set exp_name = #{expName,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      exp_type = #{expType,jdbcType=VARCHAR},
      exp_create_time = #{expCreateTime,jdbcType=TIMESTAMP}
    where exp_id = #{expId,jdbcType=INTEGER}
  </update>
</mapper>