<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.clinicalresearch.dao.manager.LogsMapper" >
  <resultMap id="BaseResultMap" type="com.clinicalresearch.dao.entity.Logs" >
    <id column="logid" property="logid" jdbcType="VARCHAR" />
    <result column="logtype" property="logtype" jdbcType="VARCHAR" />
    <result column="logcontent" property="logcontent" jdbcType="VARCHAR" />
    <result column="logtime" property="logtime" jdbcType="TIMESTAMP" />
    <result column="userid" property="userid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    logid, logtype, logcontent, logtime, userid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.clinicalresearch.dao.entity.LogsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from LOGS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from LOGS
    where logid = #{logid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from LOGS
    where logid = #{logid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.clinicalresearch.dao.entity.LogsExample" >
    delete from LOGS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.clinicalresearch.dao.entity.Logs" >
    insert into LOGS (logid, logtype, logcontent, 
      logtime, userid)
    values (#{logid,jdbcType=VARCHAR}, #{logtype,jdbcType=VARCHAR}, #{logcontent,jdbcType=VARCHAR}, 
      #{logtime,jdbcType=TIMESTAMP}, #{userid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.clinicalresearch.dao.entity.Logs" >
    insert into LOGS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="logid != null" >
        logid,
      </if>
      <if test="logtype != null" >
        logtype,
      </if>
      <if test="logcontent != null" >
        logcontent,
      </if>
      <if test="logtime != null" >
        logtime,
      </if>
      <if test="userid != null" >
        userid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="logid != null" >
        #{logid,jdbcType=VARCHAR},
      </if>
      <if test="logtype != null" >
        #{logtype,jdbcType=VARCHAR},
      </if>
      <if test="logcontent != null" >
        #{logcontent,jdbcType=VARCHAR},
      </if>
      <if test="logtime != null" >
        #{logtime,jdbcType=TIMESTAMP},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.clinicalresearch.dao.entity.LogsExample" resultType="java.lang.Integer" >
    select count(*) from LOGS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update LOGS
    <set >
      <if test="record.logid != null" >
        logid = #{record.logid,jdbcType=VARCHAR},
      </if>
      <if test="record.logtype != null" >
        logtype = #{record.logtype,jdbcType=VARCHAR},
      </if>
      <if test="record.logcontent != null" >
        logcontent = #{record.logcontent,jdbcType=VARCHAR},
      </if>
      <if test="record.logtime != null" >
        logtime = #{record.logtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.userid != null" >
        userid = #{record.userid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update LOGS
    set logid = #{record.logid,jdbcType=VARCHAR},
      logtype = #{record.logtype,jdbcType=VARCHAR},
      logcontent = #{record.logcontent,jdbcType=VARCHAR},
      logtime = #{record.logtime,jdbcType=TIMESTAMP},
      userid = #{record.userid,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.clinicalresearch.dao.entity.Logs" >
    update LOGS
    <set >
      <if test="logtype != null" >
        logtype = #{logtype,jdbcType=VARCHAR},
      </if>
      <if test="logcontent != null" >
        logcontent = #{logcontent,jdbcType=VARCHAR},
      </if>
      <if test="logtime != null" >
        logtime = #{logtime,jdbcType=TIMESTAMP},
      </if>
      <if test="userid != null" >
        userid = #{userid,jdbcType=VARCHAR},
      </if>
    </set>
    where logid = #{logid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.clinicalresearch.dao.entity.Logs" >
    update LOGS
    set logtype = #{logtype,jdbcType=VARCHAR},
      logcontent = #{logcontent,jdbcType=VARCHAR},
      logtime = #{logtime,jdbcType=TIMESTAMP},
      userid = #{userid,jdbcType=VARCHAR}
    where logid = #{logid,jdbcType=VARCHAR}
  </update>
</mapper>